﻿@page
@model AdminModule.Areas.Admin.Pages.Wallet.ShoppingListModel
@{
    ViewData["Title"] = "لیست خریدها";
}

<div id="moreFilter" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">فیلتر های بیشتر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="form-group">
                        <label>نوع تراکنش</label>
                        <select name="transactionType" class="form-control">
                            <option value="خرید">خرید</option>
                            <option value="شارژ">شارژ</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>نام کاربری</label>
                        <input type="text" name="userName" placeholder="لطفا نام کاربری را وارد کنید" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>حداقل مبلغ</label>
                        <input type="number" name="minimumPrice" placeholder="لطفا حداقل مبلغ را وارد کنید" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>حداکثر مبلغ</label>
                        <input type="number" name="maximumPrice" placeholder="لطفا حداکثر مبلغ را وارد کنید" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>تاریخ شروع</label>
                        <input type="text" name="startDate" id="startDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>تاریخ پایان</label>
                        <input type="text" name="endDate" id="endDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>توضیحات</label>
                        <input type="text" name="description" placeholder="لطفا توضیحات را وارد کنید" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">بستن</button>
                    <button type="submit" onclick="dateFormat()" class="btn btn-primary col-9"><i class="fa fa-search"></i> جستجو</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">لیست خریدها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Role/RolesList">مدیریت کیف پول ها</a></li>
                        <li class="breadcrumb-item active">لیست خریدها</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><button class="btn btn-success" data-toggle="modal" data-target="#moreFilter"><i class="fa fa-search"></i> فیلتر بیشتر</button></h3>
                        <div class="card-tools">
                            <form method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input name="userName" class="form-control float-right" placeholder="جستجو">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>نام خریدار</th>
                                    <th>هزینه پرداختی</th>
                                    <th>وضعیت</th>
                                    <th>توضیحات و نوع تراکنش</th>
                                    <th>تاریخ</th>
                                </tr>
                                @if (Model.WalletViewModels != null)
                                {
                                    @foreach (var wallet in Model.WalletViewModels)
                                    {
                                        <tr>
                                            <td>@wallet.UserName</td>
                                            <td>@wallet.Price</td>
                                            @if (wallet.IsPay)
                                            {
                                                <td><span class="badge badge-success p-2">پرداخت شده</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger p-2">پرداخت نشده</span></td>
                                            }
                                            <td><span class="badge badge-info p-2">@wallet.Description</span></td>
                                            <td>@wallet.CreateDate.ToLongShamsiDate()</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />
}

@section Scripts{
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
    <script type="text/javascript">
        function fixNumbers(str) {
            var persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g];
            var arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];
            if (typeof str === 'string') {
                for (var i = 0; i < 10; i++) {
                    str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
                }
            }
            return str;
        };

        function dateFormat() {
            if ($("#startDate").val() != "" && $("#startDate").val() != null) {
                $("#startDate").val(moment.from(fixNumbers($("#startDate").val()), 'fa', 'YYYY/MM/DD').format('YYYY/MM/DD'));
            }
            if ($("#endDate").val() != "" && $("#endDate").val() != null) {
                $("#endDate").val(moment.from(fixNumbers($("#endDate").val()), 'fa', 'YYYY/MM/DD').format('YYYY/MM/DD'));
            }
        }

        $(document).ready(function () {
            $("#startDate").pDatepicker({
                initialValueType: "gregorian",
                format: "YYYY/MM/DD",
                initialValue: false
            });
            $("#endDate").pDatepicker({
                initialValueType: "gregorian",
                format: "YYYY/MM/DD",
                initialValue: false
            });
        });
    </script>
}
