﻿@page
@model AdminModule.Areas.Admin.Pages.Role.AddRoleModel
@{
    ViewData["Title"] = "افزودن نقش جدید";
}

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">افزودن نقش جدید</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Role/RolesList">مدیریت دسترسی ها</a></li>
                        <li class="breadcrumb-item active">افزودن نقش جدید</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">افزودن نقش جدید</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Role.RoleTitle"></label>
                    <input asp-for="Role.RoleTitle" class="form-control" placeholder="عنوان نقش را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Role.RoleTitle"></span>
                </div>
                <div class="form-group">
                    <label>انتخاب دسترسی ها</label>
                    <select name="permissionsIds" class="form-control select2" multiple="multiple" data-placeholder="یک نقش انتخاب کنید" style="width: 100%;text-align: right">
                        @foreach (var permission in Model.Permissions)
                        {
                            <option value="@permission.PermissionId">@permission.Name</option>
                        }
                    </select>
                    <div>
                        <span class="text-danger mt-2" asp-validation-for="Role.RolePremissions"></span>
                    </div>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" asp-for="Role.IsDefualtRole">
                    <label class="form-check-label" asp-for="Role.IsDefualtRole">نقش پیش فرض</label>
                    <span class="text-danger mt-2" asp-validation-for="Role.IsDefualtRole"></span>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">افزودن <i class="fa fa-plus-circle"></i></button>
            </div>
        </form>
    </div>
</div>
@section Scripts{ 
    <partial name="_ValidationScriptsPartial" />
}