﻿@page
@model AdminModule.Areas.Admin.Pages.Role.RolesListModel
@{
    ViewData["Title"] = "مدیریت نقش ها";
}

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">لیست نقش ها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Role/RolesList">مدیریت دسترسی ها</a></li>
                        <li class="breadcrumb-item active">لیست نقش ها</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><a asp-area="Admin" asp-page="/Role/AddRole" class="btn btn-success"><i class="fa fa-plus-circle"></i> افزودن نقش جدید</a></h3>

                        <div class="card-tools">
                            <form method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="query" class="form-control float-right" placeholder="جستجو" @((ViewData["query"] != null) ? $"value={ViewData["query"]}" : "")>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>عنوان نقش</th>
                                    <th>نقش پیش فرض</th>
                                    <th>عملیات</th>
                                </tr>
                                @if (Model.Roles != null)
                                {
                                    @foreach (var role in Model.Roles)
                                    {
                                        <tr>
                                            <td>@role.RoleTitle</td>
                                            @if (role.IsDefualtRole)
                                            {
                                                <td><span class="badge badge-success p-2">نقش پیشفرض</span></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                <div class="row">
                                                    <div><a asp-page="/Role/EditRole" asp-route-roleId="@role.RoleId" class="btn btn-warning btn-sm">ویرایش <i class="fa fa-edit"></i></a></div>
                                                    <div><a asp-page-handler="DeleteRole" asp-route-roleId="@role.RoleId" class="btn btn-danger btn-sm mr-3" id="deleteBtn">حذف <i class="fa fa-trash"></i></a></div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <input type="hidden" id="message" value="@Model.Message" />
}

@section Scripts{
    <script>
        var message = $('#message').val(); // get the value of the message
        if (message != null && message != "") {
            swal({
                title: "نقش ها",
                buttons: false,
                timer: 3000,
                text: message,
                icon: "success"
            });
        }
    </script>
}



