﻿
@{
    Layout = null;
}

<aside class="main-sidebar sidebar-dark-primary elevation-4" style="min-height: 823px;">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/admin/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">پنل مدیریت</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div>
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://www.gravatar.com/avatar/52f0fbcbedee04a121cba8dad1174462?s=200&amp;d=mm&amp;r=g" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a asp-page="/Dashboard/Dashboard" class="d-block">ادمین تم شاپ</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview @((ViewData["dashboard"] !=null)?"menu-open":"")">
                        <a asp-page="/Dashboard/Dashboard" class="nav-link @((ViewData["dashboard"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                داشبورد ها
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Dashboard/Dashboard" class="nav-link @((ViewData["mainDashboard"] !=null)?"active":"")">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>داشبورد اصلی</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview @((ViewData["manageUser"] !=null)?"menu-open":"")">
                        <a asp-page="/User/OnlineUsers" class="nav-link @((ViewData["manageUser"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-users"></i>
                            <p>
                                مدیریت کاربران
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/User/OnlineUsers" class="nav-link @((ViewData["manageOnlineUser"] !=null)?"active":"")">
                                    <i class="fa fa-internet-explorer nav-icon"></i>
                                    <p>کاربران آنلاین</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/User/UsersList" class="nav-link @((ViewData["userList"] !=null)?"active":"")">
                                    <i class="fa fa-list nav-icon"></i>
                                    <p>لیست کاربران</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview @((ViewData["manageAds"] !=null)?"menu-open":"")">
                        <a asp-page="/Ad/AdsList" class="nav-link @((ViewData["manageAds"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-map"></i>
                            <p>
                                مدیریت تبلیغات
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Ad/AdsList" class="nav-link @((ViewData["adsList"] !=null)?"active":"")">
                                    <i class="fa fa-ticket nav-icon"></i>
                                    <p>لیست تبلیغات</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview @((ViewData["manageAccess"] !=null)?"menu-open":"")">
                        <a asp-page="/Role/RolesList" class="nav-link @((ViewData["manageAccess"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-key"></i>
                            <p>
                                مدیریت دسترسی ها
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Role/RolesList" class="nav-link @((ViewData["listRole"] !=null)?"active":"")">
                                    <i class="fa fa-magic nav-icon"></i>
                                    <p>لیست نقش ها</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-page="/Role/AddRole" class="nav-link @((ViewData["addRole"] !=null)?"active":"")">
                                    <i class="fa fa-plus-circle nav-icon"></i>
                                    <p>افزودن نقش جدید</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview @((ViewData["manageWallet"] !=null)?"menu-open":"")">
                        <a asp-page="/Role/RolesList" class="nav-link @((ViewData["manageWallet"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-tag"></i>
                            <p>
                                مدیریت کیف پول ها
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Wallet/ShoppingList" class="nav-link @((ViewData["listShop"] !=null)?"active":"")">
                                    <i class="fa fa-shopping-cart nav-icon"></i>
                                    <p>لیست خریدها</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview @((ViewData["support"] !=null)?"menu-open":"")">
                        <a asp-page="/Ticket/TicketsList" class="nav-link @((ViewData["support"] !=null)?"active":"")">
                            <i class="nav-icon fa fa-support"></i>
                            <p>
                                پشتیبانی
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-page="/Ticket/TicketsList" class="nav-link @((ViewData["listTicket"] !=null)?"active":"")">
                                    <i class="fa fa-ticket nav-icon"></i>
                                    <p>لیست تیکت ها</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-cogs"></i>
                            <p>
                                تنظیمات
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" style="display: none;">
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="fa fa-cog nav-icon"></i>
                                    <p>تنظیمات اصلی سایت</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
    </div>
    <!-- /.sidebar -->
</aside>
