﻿@model ThemeShop.Application.ViewModels.Ticket.TicketCountViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-md-3">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">تیکت ها</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0" style="display: block;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a asp-area="Admin" asp-page="/Ticket/TicketsList" class="nav-link">
                        <i class="fa fa-inbox"></i> تیکت ها
                        @if (Model.NotReadTicketCount != 0)
                        {
                            <span class="badge bg-danger float-left">@Model.NotReadTicketCount</span>
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Ticket/SentTicket" class="nav-link">
                        <i class="fa fa-envelope-o"></i> ارسال شده
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Ticket/ContactUsTicket" class="nav-link">
                        <i class="fa fa-phone"></i> تماس با ما
                        @if (Model.ContactUsTicketCount != 0)
                        {
                            <span class="badge bg-primary float-left">@Model.ContactUsTicketCount</span>
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Ticket/ReportAbuseTicket" class="nav-link">
                        <i class="fa fa-filter"></i> گزارش تخلف
                        @if (Model.ReportAbuseTicketCount != 0)
                        {
                            <span class="badge bg-warning float-left">@Model.ReportAbuseTicketCount</span>
                        }
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Ticket/ClosedTicket" class="nav-link">
                        <i class="fa fa-close"></i> بسته شده
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Ticket/DeletedTicket" class="nav-link">
                        <i class="fa fa-trash-o"></i> سطل زباله
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
</div>