﻿<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>پنل ادمین تم شاپ - @ViewData["Title"]</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/admin/lib/font-awesome/css/font-awesome.min.css">
    <!-- select 2 -->
    <link href="~/admin/lib/select2/select2.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- bootstrap rtl -->
    <link rel="stylesheet" href="~/admin/css/bootstrap-rtl.min.css">


    <!-- template rtl version -->
    <link rel="stylesheet" href="~/admin/css/custom-style.min.css">

    @await RenderSectionAsync("Styles", required: false)

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @await Component.InvokeAsync("TopNavComponent")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Component.InvokeAsync("NavSlideBarComponent")
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!--Main-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!--End Main-->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-sm-none d-md-block">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>CopyLeft &copy; 2018 <a asp-area="" asp-page="Index">تم شاپ</a>.</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/admin/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/admin/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- select 2-->
    <script src="~/admin/lib/select2/select2.full.min.js"></script>
    <!-- PAGE PLUGINS -->
    <!-- SparkLine -->
    <script src="~/admin/lib/sparkline/jquery.sparkline.min.js"></script>
    <!-- jVectorMap -->
    <script src="~/admin/lib/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/admin/lib/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/admin/lib/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS 1.0.2 -->
    <script src="~/admin/lib/chartjs-old/Chart.min.js"></script>
    <script src="~/admin/lib/sweetalert/sweetalert.min.js"></script>


    <!-- AdminLTE App -->
    <script src="~/admin/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/admin/js/demo.js"></script>
    <!-- PAGE SCRIPTS -->
    @*<script src="~/admin/js/pages/dashboard2.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>