﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ThemeShop.Application.ViewModels.Public.PaggingViewModel
@{
    string urlParameters = "";
    if (Model.UrlParameters != null)
    {
        System.Collections.DictionaryEntry[] myArr = new System.Collections.DictionaryEntry[Model.UrlParameters.Count];
        Model.UrlParameters.CopyTo(myArr, 0);
        foreach (var parametr in myArr)
        {
            urlParameters += $"&{parametr.Key}={parametr.Value}";
        }
    }
}

<div>
    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
        <ul class="pagination justify-content-center">
            @if (Model.ActivePage != 1)
            {
                <li class="paginate_button page-item previous" id="example2_previous">
                    <a href="?@Model.ParametrUrlName=@(Model.ActivePage - 1)@(!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query) ? ((!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query)) ? $"&&query={Model.Query}" : $"?query={Model.Query}") : "")@urlParameters" aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">«</a>
                </li>
            }
            else
            {
                <li class="paginate_button page-item previous disabled" id="example2_previous">
                    <a aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">«</a>
                </li>
            }

            @if (Model.ActivePage > 3)
            {
                for (int i = Model.ActivePage - 2; i <= Model.PageCount; i++)
                {
                    <li class="paginate_button page-item @((i==Model.ActivePage)?"active":"")"><a href="?@Model.ParametrUrlName=@i@(!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query) ? ((!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query)) ? $"&&query={Model.Query}" :  $"?query={Model.Query}") : "")@urlParameters" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">@i</a></li>
                    @if (i == Model.ActivePage + 2)
                    {
                        break;
                    }
                }
            }
            else
            {
                for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="paginate_button page-item @((i==Model.ActivePage)?"active":"")"><a href="?@Model.ParametrUrlName=@i@(!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query) ? ((!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query)) ? $"&&query={Model.Query}" :  $"?query={Model.Query}") : "")@urlParameters" aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link">@i</a></li>
                    @if (i == Model.ActivePage + 3)
                    {
                        break;
                    }
                }
            }

            @if (Model.ActivePage == Model.PageCount)
            {
                <li class="paginate_button page-item next disabled" id="example2_next">
                    <a aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">»</a>
                </li>
            }
            else
            {
                <li class="paginate_button page-item next" id="example2_next">
                    <a href="?@Model.ParametrUrlName=@(Model.ActivePage + 1)@(!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query) ? ((!string.IsNullOrEmpty(Model.Query) && !string.IsNullOrWhiteSpace(Model.Query)) ? $"&&query={Model.Query}" :  $"?query={Model.Query}") : "")@urlParameters" aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">»</a>
                </li>
            }
        </ul>
    </div>
</div>