﻿@page
@model AdminModule.Areas.Admin.Pages.User.EditUserModel
@{
    ViewData["Title"] = "ویرایش کاربر";
}

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">ویرایش کاربر</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/User/UsersList">مدیریت کاربران</a></li>
                        <li class="breadcrumb-item active">ویرایش کاربر</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">ویرایش کاربر</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" method="post">
            <div class="card-body">
                <input type="hidden" asp-for="Customer.UserId" />
                <input type="hidden" asp-for="Customer.Password" />
                <input type="hidden" asp-for="Customer.ActiveCode" />
                <input type="hidden" asp-for="Customer.AccountBalance" />
                <div class="form-group">
                    <label asp-for="Customer.UserName"></label>
                    <input asp-for="Customer.UserName" class="form-control" placeholder="نام کاربری را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.UserName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Name"></label>
                    <input asp-for="Customer.Name" class="form-control" placeholder="نام را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.Name"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Family"></label>
                    <input asp-for="Customer.Family" class="form-control" placeholder="نام خانوادگی را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.Family"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Email"></label>
                    <input asp-for="Customer.Email" class="form-control" placeholder="ایمیل کاربر را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.Mobile"></label>
                    <input asp-for="Customer.Mobile" class="form-control" placeholder="شماره موبایل را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.Mobile"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.UserDescription"></label>
                    <input asp-for="Customer.UserDescription" class="form-control" placeholder="توضیحات کاربر را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.UserDescription"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.IsActive"></label>
                    <div class="row">
                        <input asp-for="Customer.IsActive" class="form-control w-25">
                        <label for="Customer_IsActive">وضعیت فعال / غیرفعال بودن کاربر</label>
                    </div>
                    <span class="text-danger mt-2" asp-validation-for="Customer.IsActive"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.RegisterDate"></label>
                    <input id="prDate" name="prDate" class="form-control" placeholder="تاریخ ثبت نام کاربر را وارد کنید" value="@Model.Customer.RegisterDate">
                    <span class="text-danger mt-2" asp-validation-for="Customer.RegisterDate"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.ThemeSellerPercentage"></label>
                    <input asp-for="Customer.ThemeSellerPercentage" class="form-control" placeholder="درصد فروشندگی کاربر را وارد کنید">
                    <span class="text-danger mt-2" asp-validation-for="Customer.ThemeSellerPercentage"></span>
                </div>
                <div class="form-group">
                    <label>انتخاب مقام های کاربر</label>
                    <select name="rolesIds" class="form-control select2" multiple="multiple" data-placeholder="یک مقام را انتخاب کنید" style="width: 100%;text-align: right">
                        @foreach (var role in await Model.GetAllRolesAsync())
                        {
                            bool hasRole = false;
                            foreach (var userRole in await Model.GetUserRolesAsync(Model.Customer.UserId))
                            {
                                if (role.RoleId == userRole.RoleId)
                                {
                                    hasRole = true;
                                    <option value="@userRole.RoleId" selected>@userRole.RoleTitle</option>
                                    break;
                                }
                            }
                            if (!hasRole)
                            {
                                <option value="@role.RoleId">@role.RoleTitle</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" onclick="changeDate()" class="btn btn-warning">ویرایش <i class="fa fa-edit"></i></button>
            </div>
        </form>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/lib/persian-datepicker/persian-datepicker.min.css" />
}

@section Scripts{
    <script src="~/lib/persian-datepicker/persian-date.min.js"></script>
    <script src="~/lib/persian-datepicker/persian-datepicker.min.js"></script>
    <script src="~/lib/jalali-moment/jalali-moment.browser.min.js"></script>
    <script>
        //change number
        String.prototype.toEnglishDigit = function () { var find = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹']; var replace = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']; var replaceString = this; var regex; for (var i = 0; i < find.length; i++) { regex = new RegExp(find[i], "g"); replaceString = replaceString.replace(regex, replace[i]); } return replaceString; };
        //end change number
        $(document).ready(function () {
            $('#prDate').pDatepicker({ format: 'LLLL'});
        });
        function changeDate() {
            $('#prDate').val(moment.from($('#prDate').val().toEnglishDigit(), 'fa', 'LLLL')
                .format('YYYY-M-D HH:mm:ss'));
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
