﻿@page
@model AdminModule.Areas.Admin.Pages.User.OnlineUsersModel
@{
    ViewData["Title"] = "کاربران آنلاین";
}

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">وضعیت کاربران (<span class="text-success">@(Model.OnlineUsers.Count(u => u.OnlineStatus==true))</span>)</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="OnlineUsers">مدیریت کاربران</a></li>
                        <li class="breadcrumb-item active">کاربران آنلاین</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <table class="table table-hover table-dark mt-4">
            <thead class="text-center">
                <tr>
                    <th scope="col">نام کاربری</th>
                    <th scope="col">آی پی (IP)</th>
                    <th scope="col">مسیر مشاهده</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">تاریخ فعالیت</th>
                </tr>
            </thead>
            <tbody id="trackUserTable">
                @foreach (var item in Model.OnlineUsers)
                {
                    <tr class="text-center">
                        <th scope="row">@item.UserName</th>
                        <td>@item.Ip</td>
                        <td class="ltr">@item.VisitPath</td>
                        @if (item.OnlineStatus)
                        {
                            <td><p class="bg-success p-2 rounde-corners">آنلاین</p></td>
                        }
                        else
                        {
                            <td><p class="bg-danger p-2 rounde-corners">آفلاین</p></td>
                        }
                        <td>@item.StartTime.ToLongShamsiDate()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>