﻿@page
@model AdminModule.Areas.Admin.Pages.User.UsersListModel
@{
    ViewData["Title"] = "مدیریت کاربران";
}

<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">لیست کاربران</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/User/UsersList">مدیریت کاربران</a></li>
                        <li class="breadcrumb-item active">لیست کاربران</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3>لیست کاربران تم شاپ</h3>
                        <div class="card-tools">
                            <form method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="query" class="form-control float-right" placeholder="جستجو" @((ViewData["query"] != null) ? $"value={ViewData["query"]}" : "")>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>نام کاربری</th>
                                    <th>ایمیل</th>
                                    <th>موبایل</th>
                                    <th>وضعیت</th>
                                    <th>موجودی کاربر</th>
                                    <th>نقش های کاربر</th>
                                    <th>عملیات</th>
                                </tr>
                                @if (Model.Users != null)
                                {
                                    @foreach (var user in Model.Users)
                                    {
                                        <tr>
                                            <td>@user.UserName</td>
                                            <td>@user.Email</td>
                                            <td>@user.Mobile</td>

                                            @if (user.IsActive)
                                            {
                                                <td><span class="badge badge-success p-2">فعال</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger p-2">غیر فعال</span></td>
                                            }
                                            <td><span class="badge-pill badge-primary p-2">@user.AccountBalance.ToString("#,#") تومان</span></td>
                                            <td>
                                                @foreach (var userRoles in await Model.GetUserRolesAsync(user.UserId))
                                                {
                                                        <span class="badge-info m-1 rounded p-1">@userRoles.RoleTitle</span>
                                                }
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div><a asp-page="/User/EditUser" asp-route-userId="@user.UserId" class="btn btn-warning btn-sm">ویرایش <i class="fa fa-edit"></i></a></div>
                                                    @if (user.IsActive)
                                                    {
                                                        <div><a asp-page-handler="DisableUser" asp-route-userId="@user.UserId" class="btn btn-danger btn-sm mr-3" id="deleteBtn">غیر فعال <i class="fa fa-close"></i></a></div>
                                                    }
                                                    else
                                                    {
                                                        <div><a asp-page-handler="EnableUser" asp-route-userId="@user.UserId" class="btn btn-success btn-sm mr-3" id="deleteBtn">فعال <i class="fa fa-check"></i></a></div>
                                                    }
                                                    <div><a asp-page-handler="DeleteUser" asp-route-userId="@user.UserId" class="btn btn-danger btn-sm mr-3" id="deleteBtn">حذف <i class="fa fa-trash"></i></a></div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <input type="hidden" id="message" value="@Model.Message" />
}

@section Scripts{
    <script>
        var message = $('#message').val(); // get the value of the message
        if (message != null && message != "") {
            swal({
                title: "کاربران",
                buttons: false,
                timer: 3000,
                text: message,
                icon: "success"
            });
        }
    </script>
}