﻿@page
@model AdminModule.Areas.Admin.Pages.Ad.AdsListModel
@{
    ViewData["Title"] = "لیست تبلیغات";
}

<div id="moreFilter" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="exampleModalPopoversLabel">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPopoversLabel">فیلتر های بیشتر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="form-group">
                        <label>عنوان تبلیغ</label>
                        <input type="text" name="adTitle" placeholder="لطفا عنوان تبلیغ را وارد کنید" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>آدرس تبلیغ</label>
                        <input type="text" name="addUrl" placeholder="لطفا آدرس تبلیغ را وارد کنید" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>تاریخ شروع</label>
                        <input type="text" name="startTime" id="startDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>تاریخ پایان</label>
                        <input type="text" name="endDate" id="endDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>وضعیت فعال بودن</label>
                        <input type="checkbox" name="isActive" id="isActive" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>وضعیت حذف بودن</label>
                        <input type="checkbox" name="isDeleted" id="isDeleted" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">بستن</button>
                    <button type="submit" onclick="dateFormat()" class="btn btn-primary col-9"><i class="fa fa-search"></i> جستجو</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">مدیریت تبلیغات</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Ad/AdsList">لیست تبلیغات</a></li>
                        <li class="breadcrumb-item active">مدیریت تبلیغات</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><button class="btn btn-success" data-toggle="modal" data-target="#moreFilter"><i class="fa fa-search"></i> فیلتر بیشتر</button></h3>

                        <div class="card-tools">
                            <form method="get">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="adTitle" class="form-control float-right" placeholder="جستجو" @((ViewData["query"] != null) ? $"value={ViewData["query"]}" : "")>
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>عنوان تبلیغ</th>
                                    <th>آدرس تبلیغ</th>
                                    <th>زمان شروع</th>
                                    <th>زمان پایان</th>
                                    <th>وضعیت</th>
                                    <th>عملیات</th>
                                </tr>
                                @if (Model.Ads != null)
                                {
                                    @foreach (var ads in Model.Ads)
                                    {
                                        <tr>
                                            <td>@ads.AdTitle</td>
                                            <td>@ads.AdUrl</td>
                                            <td>@ads.StartDate.ToLongShamsiDate()</td>
                                            <td>@ads.EndDate?.ToLongShamsiDate()</td>
                                            @if (ads.IsDelete)
                                            {
                                                <td><span class="badge badge-danger p-2">حذف شده</span></td>
                                            }
                                            else if (ads.IsActive)
                                            {
                                                <td><span class="badge badge-success p-2">فعال است</span></td>
                                            }
                                            else if (!ads.IsActive)
                                            {
                                                <td><span class="badge badge-info p-2">غیر فعال است</span></td>
                                            }
                                            <td>
                                                <div class="row">
                                                    <div><a class="btn btn-warning btn-sm">ویرایش <i class="fa fa-edit"></i></a></div>
                                                    <div><a class="btn btn-danger text-white btn-sm mr-3" id="deleteBtn">حذف <i class="fa fa-trash"></i></a></div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <input type="hidden" id="message" value="@Model.Message" />
}

@section Scripts{
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
    <script type="text/javascript">
        function fixNumbers(str) {
            var persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g];
            var arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g];
            if (typeof str === 'string') {
                for (var i = 0; i < 10; i++) {
                    str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
                }
            }
            return str;
        };

        function dateFormat() {
            if ($("#startDate").val() != "" && $("#startDate").val() != null) {
                $("#startDate").val(moment.from(fixNumbers($("#startDate").val()), 'fa', 'YYYY/MM/DD').format('YYYY/MM/DD'));
            }
            if ($("#endDate").val() != "" && $("#endDate").val() != null) {
                $("#endDate").val(moment.from(fixNumbers($("#endDate").val()), 'fa', 'YYYY/MM/DD').format('YYYY/MM/DD'));
            }
        }

        $(document).ready(function () {
            $("#startDate").pDatepicker({
                initialValueType: "gregorian",
                format: "YYYY/MM/DD",
                initialValue: false
            });
            $("#endDate").pDatepicker({
                initialValueType: "gregorian",
                format: "YYYY/MM/DD",
                initialValue: false
            });
        });
    </script>
    <script>
        var message = $('#message').val(); // get the value of the message
        if (message != null && message != "") {
            swal({
                title: "تبلیغات",
                buttons: false,
                timer: 3000,
                text: message,
                icon: "success"
            });
        }
        $("#isActive").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });
        $("#isDeleted").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).attr('value', 'true');
            } else {
                $(this).attr('value', 'false');
            }
        });

    </script>
}