﻿@page
@model AdminModule.Areas.Admin.Pages.Ticket.AnswerTicketModel
@{
    ViewData["Title"] = $"پاسخ تیکت {Model.Ticket.Title}";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>پاسخ تیکت</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Ticket/TicketsList">تیکت</a></li>
                    <li class="breadcrumb-item active">پاسخ تیکت</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>



<section class="content">
    <div class="row">
        @await Component.InvokeAsync("TicketBoxComponent")
        <div class="card card-primary card-outline direct-chat direct-chat-primary col-md-9 p-0">
            <div class="card-header">
                <h3 class="card-title">موضوع تیکت : @Model.Ticket.Title</h3>

                <div class="card-tools position-relative float-rigt mt-2">
                    @if (Model.Ticket.IsClose || Model.Ticket.IsDelete)
                    {

                    }
                    else
                    {
                        <a asp-page-handler="DeleteTicket" asp-route-ticketId="@Model.Ticket.TicketId">
                            <i class="bg-danger p-2 text-white fa fa-trash-o rounded"><span style="font-family: 'Vazir';"> حذف</span></i>
                        </a>
                        <a asp-page-handler="CloseTicket" asp-route-ticketId="@Model.Ticket.TicketId">
                            <i class="bg-warning p-2 text-white fa fa-close rounded"><span style="font-family: 'Vazir';"> بستن تیکت</span></i>
                        </a>
                    }
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages min-height-ticket-message">
                    @foreach (var message in Model.TicketMessages)
                    {
                        if (message.UserId == Model.Ticket.Sender)
                        {
                            <!-- Message. Default to the left -->
                            <div class="direct-chat-msg">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name float-left">@Model.Sender.UserName</span>
                                    <span class="direct-chat-timestamp float-right">@message.CreatedOn.ToLongShamsiDate()</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="@Model.Sender.Avatar" alt="@Model.Sender.Name">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    @message.Text
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                        }
                        else
                        {
                            <!-- Message to the right -->
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-info clearfix">
                                    <span class="direct-chat-name float-right">@Model.Reciver.UserName</span>
                                    <span class="direct-chat-timestamp float-left">@message.CreatedOn.ToLongShamsiDate()</span>
                                </div>
                                <!-- /.direct-chat-info -->
                                <img class="direct-chat-img" src="@Model.Reciver.Avatar" alt="@Model.Reciver.Name">
                                <!-- /.direct-chat-img -->
                                <div class="direct-chat-text">
                                    @Html.Raw(message.Text)
                                </div>
                                <!-- /.direct-chat-text -->
                            </div>
                            <!-- /.direct-chat-msg -->
                        }
                    }


                </div>
                <!--/.direct-chat-messages-->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <form method="post">
                    <div>
                        <input asp-for="TicketMessage.UserId" value="@Model.Ticket.Reciver" type="hidden" hidden />
                        <input asp-for="TicketMessage.TicketId" value="@Model.Ticket.TicketId" type="hidden" hidden />
                        <input asp-for="TicketMessage.OwnerId" value="@Model.Ticket.Reciver" type="hidden" hidden />
                        <label>متن پاسخ :</label>
                        <textarea id="answerText" asp-for="TicketMessage.Text" placeholder="تایپ پیام ..." class="form-control"></textarea>
                    </div>
                    <button asp-page-handler="AnswerTicket" type="submit" class="btn btn-primary mt-3">ارسال</button>
                </form>
            </div>
            <!-- /.card-footer-->
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/admin/lib/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('answerText', {
            customConfig: '/admin/lib/ckeditor/config-tickets.js'
        });
    </script>
}