﻿@page
@model AdminModule.Areas.Admin.Pages.Ticket.ContactUsTicketModel
@{
    ViewData["Title"] = "لیست تیکت ها تماس با ما";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>لیست تیکت ها تماس با ما</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Ticket/TicketsList">تیکت</a></li>
                    <li class="breadcrumb-item active">تیکت ها تماس با ما</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        @await Component.InvokeAsync("TicketBoxComponent")
        <!-- /.col -->
        <div class="col-md-9">
            <div id="answer" class="card card-outline card-info" style="display:none">
                <div class="card-header">
                    <h3 class="card-title">
                        پاسخ تیکت
                    </h3>
                    <!-- tools box -->
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool btn-sm" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool btn-sm" data-widget="remove" data-toggle="tooltip" title="" data-original-title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /. tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body pad">
                    <div class="form-group">
                        <form method="post">
                            <input id="contactUsId" name="contactUsId" type="hidden" hidden />
                            <textarea id="answerText" class="form-control" name="answerText" rows="10"></textarea>
                            <button type="submit" class="btn btn-success mt-3">ارسال پاسخ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">تیکت ها تماس با ما</h3>

                    <div class="card-tools">
                        <form method="get">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="query" class="form-control float-right" placeholder="جستجو تیکت" @((ViewData["query"] != null) ? $"value={ViewData["query"]}" : "")>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>عملیات</th>
                                    <th>وضعیت</th>
                                    <th>فرستنده</th>
                                    <th>شماره تماس</th>
                                    <th>عنوان</th>
                                    <th>تاریخ ایجاد</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ContactUs != null)
                                {
                                    @foreach (var contactUs in Model.ContactUs)
                                    {
                                        <tr>
                                            <td>
                                                @if (contactUs.IsAnswered)
                                                {
                                                    <a class="btn p-0" data-toggle="modal" data-target="#answerModal" onclick="ShowAnswer(@contactUs.ContactId,'@($"{Html.Encode(contactUs.Answer)}")')"><i class="bg-info p-2 text-white fa fa-eye rounded"><span style="font-family: 'Vazir';"> مشاهده</span></i></a>
                                                    <a class="btn p-0" onclick="ShowAnswer(@contactUs.ContactId,'')"><i class="bg-success p-2 text-white fa fa-reply-all rounded"><span style="font-family: 'Vazir';"> ارسال پاسخ جدید</span></i></a>
                                                }
                                                else
                                                {
                                                    <a class="btn p-0" onclick="ShowAnswer(@contactUs.ContactId,'')"><i class="bg-success p-2 text-white fa fa-reply rounded"><span style="font-family: 'Vazir';"> پاسخ دادن</span></i></a>
                                                }
                                            </td>
                                            @if (contactUs.IsAnswered)
                                            {
                                                <td><i class="bg-success p-2 text-white fa fa-check rounded"><span style="font-family: 'Vazir';"> پاسخ داده شد</span></i></td>
                                            }
                                            else
                                            {
                                                <td><i class="text-white bg-warning p-2 fa fa-eye rounded"><span style="font-family: 'Vazir';"> پاسخ داده نشده</span></i></td>
                                            }
                                            <td>@contactUs.Name</td>
                                            <td>@contactUs.Mobile</td>
                                            <td>@contactUs.Subject</td>
                                            <td class="mailbox-date">@contactUs.CreateDate.ToLongShamsiDate()</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                        <!-- /.float-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


<!-- Modal -->
<div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">مشاهده پاسخ تیکت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <input type="hidden" id="message" value="@Model.Message" />
}

@section Scripts{
    <script src="~/admin/lib/ckeditor/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('answerText', {
            customConfig: '/admin/lib/ckeditor/config-tickets.js'
        });
        function ShowAnswer(contactUsId, answerText) {
            if (String(answerText) != null && String(answerText) != "") {
                $("#answerModal .modal-body").html(decodeHtml(answerText));
            }
            else {
                if ($('#answer').css('display') == 'none') {
                    $('#answer').show(1000);
                    $('#contactUsId').val(contactUsId);
                }
                else {
                    $('#answer').hide(300);
                    $('#answer').show(1000);
                    $('#contactUsId').val(contactUsId);
                }
            }
        }

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

        var message = $('#message').val(); // get the value of the message
        if (message != null && message != "") {
            swal({
                title: "تیکت ها",
                buttons: false,
                timer: 3000,
                text: message,
                icon: "success"
            });
        }
    </script>
}