﻿@page
@model AdminModule.Areas.Admin.Pages.Ticket.SentTicketModel
@{
    ViewData["Title"] = "لیست تیکت های پاسخ داده شده";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>لیست تیکت های پاسخ داده شده</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-page="/Ticket/TicketsList">تیکت</a></li>
                    <li class="breadcrumb-item active">تیکت های پاسخ داده شده</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        @await Component.InvokeAsync("TicketBoxComponent")
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">تیکت های پاسخ داده شده</h3>

                    <div class="card-tools">
                        <form method="get">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="query" class="form-control float-right" placeholder="جستجو تیکت" @((ViewData["query"] != null) ? $"value={ViewData["query"]}" : "")>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>عملیات</th>
                                    <th>وضعیت</th>
                                    <th>فرستنده</th>
                                    <th>عنوان</th>
                                    <th>تاریخ ایجاد</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Ticketings != null)
                                {
                                    @foreach (var ticket in Model.Ticketings)
                                    {
                                        Users sender = await Model.GetUserByIdAsync(ticket.Sender);
                                        <tr>
                                            <td>
                                                <a asp-page-handler="DeleteTicket" asp-route-ticketId="@ticket.TicketId"><i class="bg-danger p-2 text-white fa fa-trash-o rounded"><span style="font-family: 'Vazir';"> حذف</span></i></a>
                                                <a asp-area="Admin" asp-page="/Ticket/AnswerTicket" asp-route-ticketId="@ticket.TicketId"><i class="bg-success p-2 text-white fa fa-eye rounded"><span style="font-family: 'Vazir';"> مشاهده</span></i></a>
                                            </td>
                                            <td><i class="bg-success p-2 text-white fa fa-check rounded"><span style="font-family: 'Vazir';"> پاسخ داده شده</span></i></td>
                                            <td class="mailbox-name"><a asp-area="Admin" asp-page="/User/UsersList" asp-route-query="@sender.UserName">@sender.UserName</a></td>
                                            <td class="mailbox-subject">
                                                <a asp-area="Admin" asp-page="/Ticket/AnswerTicket" asp-route-ticketId="@ticket.TicketId"><b>@ticket.Title</b></a>
                                            </td>
                                            <td class="mailbox-date">@ticket.CreatedOn.ToLongShamsiDate()</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.mail-box-messages -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer p-0">
                    <div class="mailbox-controls">
                        <!-- Check all button -->
                        @await Component.InvokeAsync("PaginationComponent", Model.PaggingViewModel)
                        <!-- /.float-right -->
                    </div>
                </div>
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <input type="hidden" id="message" value="@Model.Message" />
}

@section Scripts{
    <script>
        var message = $('#message').val(); // get the value of the message
        if (message != null && message != "") {
            swal({
                title: "تیکت ها",
                buttons: false,
                timer: 3000,
                text: message,
                icon: "success"
            });
        }
    </script>
}